body {
    margin:0;
    box-sizing: border-box;
  }

.master-wrapp {
    align-items: center;
    justify-content: center;
    background: orange;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 100px;
}

.background-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.card {
    width: 500px;
    min-width: 250px;
}

.list-group {
    max-width: 480px;
    width: 400px;
    min-width: 230px;
    align-self: center;
}

#cardImage {
    height: 200px;
    object-fit: contain;
    padding: 8px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none;
}